export(McmcdbSqlite)
export(SqlColumn)
export(SqlConstraints)
export(SqlTable)
exportClasses(McmcdbSqlite)
exportClasses(SqlColumn)
exportClasses(SqlConstraints)
exportClasses(SqlTable)
import(DBI)
import(RSQLite)
import(mcmcdb)
